{% extends "layout.html" %} {% block cssblock %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/radioinput.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activitytable.css') }}">
<!-- <script>
    var activties = [];
    console.log(activties);
</script> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> {% endblock %} {% block javascriptblock %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/activity.js') }}"></script>
{% endblock %} {% block content %}
<div class="jumbotron jumbotron-fluid mb-0 theme-box-light">
    <div class="container">
        <h1 class="display-1">Assess your CVD risk</h1>
    </div>
</div>
<!-- class="needs-validation"  -->
<!-- onsubmit="checksubmit()" -->


<form action="{{ url_for('results') }}" method="post">
    <div class="container-fluid">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">How old are you?</h1>
            <div class="row">
                <input class="col-md-4 form-control-lg theme-input mx-auto" type="number" id="age" placeholder="Enter your age" name="age" min="35" max="105" required>
                <span id="error1"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid theme-box-light py-1">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">What is your height (in cms)?</h1>
            <div class="row">
                <input class="col-md-4 form-control-lg theme-input mx-auto" type="number" id="height" placeholder="Enter your height" name="height" min="90" max="230" required>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">How much do you weigh (in kgs)?</h1>
            <div class="row">
                <input class="col-md-4 form-control-lg theme-input mx-auto" type="number" id="weight" placeholder="Enter your weight" name="weight" min="40" max="230" required>
            </div>
        </div>
    </div>
    <div class="container-fluid theme-box-light py-1">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">What is your gender?</h1>
            <div class="row mx-auto">
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="male">
                        <input type="radio" class="form-check-input option-input" id="male" name="gender" value="1" checked>Male
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="female">
                        <input type="radio" class="form-check-input option-input" id="female" name="gender"
                            value="0">Female
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">How much is your blood pressure?</h1>
            <div class="row mx-auto">
                <div class="col-sm form-check text-center">
                    <label for="systolicbp">Systolic Blood Pressure (top number)</label>
                    <input class="form-control-lg theme-input mx-auto" type="number" id="systolicbp"  min="70" max="228" name="systolicbp" required>
                    <!-- placeholder="70 - 228 mmHg" -->
                </div>
            </div>

            <div class="row mx-auto" style="margin-top: 20px;">
                <div class="col-sm form-check text-center">
                    <label for="diastolicbp">Diastolic Blood Pressure (bottom number)</label>
                    <input class="form-control-lg theme-input mx-auto" type="number" id="diastolicbp"  min="50" max="150" name="diastolicbp" required>
                    <!-- placeholder="50 - 150 mmHg" -->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid theme-box-light py-1">
        <div class="container-md my-5 py-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">How much is your total cholesterol?</h1>
            <div class="row">
                <input class="col-md-4 form-control-lg theme-input mx-auto" type="number" id="totalcholes" placeholder="2 - 10.5 mmol/L" min="2" max="10.5" name="totalcholes" required>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-md my-5 py-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">What is your blood sugar (glucose) level?</h1>
            <div class="row">
                <input class="col-md-4 form-control-lg theme-input mx-auto" type="number" id="bloodsugar" placeholder="1 - 17.4 mmol/L" name="bloodsugar" min="1" max="17.4" required>
            </div>
        </div>
    </div>
    <div class="container-fluid theme-box-light py-1">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">Do you smoke?</h1>
            <div class="row mx-auto">
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="yes">
                        <input type="radio" class="form-check-input option-input" id="yes" name="smoke" value="1">Yes
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="no">
                        <input type="radio" class="form-check-input option-input" id="no" name="smoke" value="0" checked>No
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">Do you take alcohol?</h1>
            <div class="row mx-auto">
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="alcoholyes">
                        <input type="radio" class="form-check-input option-input" id="alcoholyes" name="alcohol"
                            value="1">Yes
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="alcoholno">
                        <input type="radio" class="form-check-input option-input" id="alcoholno" name="alcohol"
                            value="0" checked>No
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid theme-box-light py-1">
        <div class="container-md my-5 py-5 px-md-5 d-flex flex-column justify-content-center">
            <h1 class="display-4 pb-4 text-center">Do you do any physical activity?</h1>
            <div class="row mx-auto">
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="activityyes">
                        <input type="radio" class="form-check-input option-input" id="activityyes" name="activity"
                            value="1" checked>Yes
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-sm form-check">
                    <label class="form-check-label radio-row" for="activityno">
                        <input type="radio" class="form-check-input option-input" id="activityno" name="activity"
                            value="0" >No
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
           
           
           
           
           
           
           
            <!-- onclick="activityCheckFunction()" 
            onclick="activityCheckFunction()" -->
            <!-- <div id="activities" style="display:none">
                <div class="container d-md-table w-100 my-5" id="activitytable" name="activitytable">
                    <div class="d-md-table-row d-none d-md-block theme-dark">

                        <div class="d-md-table-cell activity-table-header">
                            <h5>Activity</h5>
                        </div>

                        <div class="d-md-table-cell activity-table-header">
                            <h5>Kms or Hours Per Day</h5>
                        </div>

                        <div class="d-md-table-cell activity-table-header">
                            <h5>Days Per Week</h5>
                        </div>

                        <div class="d-md-table-cell activity-table-header">
                            <h5>Delete</h5>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <input class="col-md-4 form-control-lg theme-input" type="text" id="activityname" placeholder="Enter an activity" name="activityname">

                    <input class="col-md-4 form-control-lg theme-input" type="number" id="kmsorhours" placeholder="How many kms/hours?" name="kmsorhours">

                    <input class="col-md-4 form-control-lg theme-input" type="number" id="daysperweek" placeholder="How many days a week?" name="daysperweek">
                </div>
                <button type="button" class="btn btn-block theme-box-dark theme-white theme-dark-button col-sm-4 mx-auto" onclick="addFunction()">Add Activity
                </button>
            </div> -->
        </div>
    </div>
    <input type="submit" class="btn btn-block my-5 py-4 btn-lg theme-box-color theme-white theme-color-button col-sm-4 mx-auto" value="Submit">
</form>

<!-- <script type="text/javascript"> -->

<!-- // function checksubmit(){
//     // alert("hkhkh");
//     var age = document.getElementById("age");
//     var error1 = document.getElementById("error1");
//     if (age < 35 || age > 120){
//         error1.innerHTML("invaid");
//     }
// } -->

<!-- </script> -->


{% endblock %}