{% extends "layout.html" %}

{% block content %}


<div class="jumbotron jumbotron-fluid" style="background-color:whitesmoke">
    <div class="container">
        <h1 class="display-4">Your Current Activity Levels</h1>
        <!-- heading-row -->
        <div class="row">
            <div class="col-sm-3">
                <h5>Activity</h5>
            </div>
            <div class="col-sm-3">
                <h5>Minutes</h5>
            </div>
            <div class="col-sm-3">
                <h5>Days per week</h5>
            </div>
            <div class="col-sm-3">
                <h5>Calories Burnt</h5>
            </div>
        </div>
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-3">
                <h5>Walkings</h5>
            </div>
            <div class="col-sm-3">
                <h5>2</h5>
            </div>
            <div class="col-sm-3">
                <h5>4</h5>
            </div>
            <div class="col-sm-3">
                <h5>8X</h5>
            </div>
        </div>
    </div>
</div>





{% endblock %}