{% extends "layout.html" %}

{% block content %}

<div class="form-group">
    <label for="headings">Select list:</label>
    <select class="form-control" id="headings" onchange="sub(this.value)">
        <option value="">-option-</option>
        <!-- {% for heading in activity_data %} -->
        <!-- <option value="{{ heading }}">{{ heading }}</option> -->
        <!-- {% endfor %} -->
    </select>
</div>

<!-- <div class="form-group">
    <label for="subheading">Select list:</label>
    <select class="form-control" id="subheading">
        <option value="">-option-</option>
        {% for heading in activity_data %}
        <option value="{{ heading }}">{{ heading }}</option>
        {% endfor %} -->
<!-- </select>
</div> -->


<select class="selectpicker" data-live-search="true" id="subheading">

</select>

<script type="text/javascript">
    $(document).ready(function () {
        $('.my-select').selectpicker();
    });

    var headings_array = []
    {% for activity_set in activity_data %}
    var heading = "{{ activity_set.heading }}";
    var activities_array = []
    {% for activity_info in activity_set.activities %}
    var activity = "{{ activity_info.activity }}";
    var intensity = {{ activity_info.intensity }};
    var met = {{ activity_info.met }};
    activities_array.push({
        "activity": activity,
        "intensity": intensity,
        "met": met
    })
    {% endfor %}
    headings_array.push({
        "heading": heading,
        "activities": activities_array
    })
    {% endfor %}
    console.log(headings_array[0].heading);

    var headings = document.getElementById("headings");
    // var subheading = document.getElementById("subheading");

    for (var i = 0; i < headings_array.length; i++) {
        // console.log(headings_array[i].heading);
        headings.innerHTML += "<option value=" + i + ">" + headings_array[i].heading + "</option>";
        // headings.add(new Option(headings_array[i],heading, i));
    }

    
    function sub(val) {
        console.log(val);
        //console.log(headings_array[val].activities);
        $("#subheading").html("").selectpicker('refresh');
        var content_list = [];
        for (var i = 0; i < headings_array[val].activities.length; i++) {
            // subheading.innerHTML += "<option>" + headings_array[val].activities[i].activity + "</option>";
            var content = "";
            content = "<option>" + headings_array[val].activities[i].activity + "</option>";
            content_list.push(content);
        }
        var content_all = content_list.toString();
        $("#subheading")
            .html(content_all)
            .selectpicker('refresh');
    }


</script>
{% endblock %}